In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
%matplotlib inline
from sklearn import metrics
import copy
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
from sklearn.feature_selection import SelectKBest, f_classif

In [8]:


#прочитать и сформировать MultiHeader
file = pd.ExcelFile('breast-cancer-wisconsin.xlsx')
df = pd.read_excel(file, header = 0, index_col=0)

In [3]:
df

     1  1.1  1.2  2  1.3   3  1.4  1.5  2.1
5
5    4    4    5  7   10   3    2    1    2
3    1    1    1  2    2   3    1    1    2
6    8    8    1  3    4   3    7    1    2
4    1    1    3  2    1   3    1    1    2
8   10   10    8  7   10   9    7    1    4
..  ..  ...  ... ..  ...  ..  ...  ...  ...
3    1    1    1  3    2   1    1    1    2
2    1    1    1  2    1   1    1    1    2
5   10   10    3  7    3   8   10    2    4
4    8    6    4  3    4  10    6    1    4
4    8    8    5  4    5  10    4    1    4

[682 rows x 9 columns]

In [10]:
#удалить столбцы с >20% нулевых значений
df_clean = df.dropna(axis = 1, thresh=int(0.8*len(df)))

In [11]:
#заполнить оставшиеся пропущенные значения средним по столбцам
df_fill_mean = df_clean.fillna(df_clean.mean())

In [12]:
features = df_fill_mean.columns.values.tolist()[2:]